@model LeanAdmin.Models.QuestionControl
@{
    ViewBag.Title = "AddControl";
}

<h2>AddControl</h2>

<br />
<form action="@Url.Action("AddControl","ControlTypes")" method="post">
    <div class="container">
        <div class="mb-3">
            <label>Name </label>
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        </div>
        <div class="mb-3">
            <label>Description </label>
            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", rows = 3 })
        </div>
    </div>
    <br />
    <button class="btn btn-success bttAddControl" data-url="@Url.Action("AddControl","ControlTypes")" type="button"> Save</button>
    <button class="btn btn-outline-info bttBackQues" type="button"> Back</button>
</form>


@section scripts {
    <script src="/Scripts/toastr.js"></script>
    <script src="/Scripts/bootbox.min.js"></script>
    <script type="text/javascript">
        $(document).on("click", ".bttAddControl", function () {
            var $self = $(this);
            var url = $self.data("url");
            var data = {
                Name: $("#Name").val(),
                Description: $("#Description").val()
            };
            if ($("#Name").val() == "") {
                bootbox.alert("Please Insert Name !!");
            } else {
                $.ajax({
                    url: url,
                    data: data,
                    type: "POST",
                    success: function () {
                        toastr.success('Control Type Added !!', { positionClass: 'toast-top-right', timeOut: 300 });
                        //location.href = "/Questions"
                    }
                });
            }

        });
        $(document).on("click", ".bttBackQues", function () {
            location.href = "/ControlTypes";
        });
    </script>
}