@model LeanAdmin.Models.QuestionControl
@{
    ViewBag.Title = "AddControl";
}

<h2>AddControl</h2>

<br />
<form action="@Url.Action("AddControl","ControlTypes")" method="post">
    <div class="container">
        <div class="mb-3">
            <label>Name </label>
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        </div>
        <div class="mb-3">
            <label>Description </label>
            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", rows = 3 })
        </div>
    </div>
    <br />
    <button class="btn btn-success" type="submit"> Save</button>
    <button class="btn btn-outline-info bttBackQues" type="button"> Back</button>
</form>


@section scripts {
    <script type="text/javascript">
        $(document).on("click", ".bttBackQues", function () {
            location.href = "/ControlTypes";
        });
    </script>
    }