@model LeanAdmin.Models.QuestionControl
@{
    ViewBag.Title = "AddControl";
}

<h2>AddControl</h2>

<br />
<form action="@Url.Action("AddControl","ControlTypes")" method="post">
    <div class="container">
        <div class="mb-3">
            <label>Description </label>
            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", rows = 3 })
        </div>
        <div class="mb-3">
            <label>Type </label>
            @Html.DropDownListFor(model => model.Name, new List<SelectListItem>
                                                                                       {
                                                                                          new SelectListItem {Text= "checkbox", Value="1", Selected =true},
                                                                                          new SelectListItem {Text= "radio", Value="2" },
                                                                                          new SelectListItem {Text= "color", Value="3" },
                                                                                          new SelectListItem {Text= "date", Value="4" },
                                                                                          new SelectListItem {Text= "email", Value="5" }

                                                                                       }, new { @class = "form-control" })
        </div>
    </div>

    <button class="btn btn-success" type="submit"> Add</button>

</form>