@model LeanAdmin.Models.QuestionControl
@{
    ViewBag.Title = "EditControl";
}

<h2>EditControl</h2>

<br />
<form action="@Url.Action("EditControl","ControlTypes")" method="post">
    <div class="container">
        <div class="mb-3">
            <label>Name </label>
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        </div>
        <div class="mb-3">
            <label>Description </label>
            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", rows = 3 })
        </div>
    </div>

    <button class="btn btn-success" type="submit">Edit</button>
    <button class="btn btn-outline-info bttBackQues" type="button"> Back</button>
</form>

@section scripts {
    <script type="text/javascript">
        $(document).on("click", ".bttBackQues", function () {
            location.href = "/ControlTypes";
        });
    </script>
}