@model LeanAdmin.Models.Question
@{
    ViewBag.Title = "AddQuestion";
}

<h2>Add Question</h2>
<br />

<form action="@Url.Action("AddQuestion","Questions")" method="post">
    <div class="container">
        <div class="mb-3">
            <label>Label </label>
            @Html.TextBoxFor(model => model.Label, new { @class = "form-control" } )
        </div>
        <div class="mb-3">
            <label>Description </label>
            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", rows = 3 })
        </div>
        <div class="mb-3">
            <label>Control Type </label>
          @Html.DropDownListFor(model => model.ControlId, new List<SelectListItem>
                                                                                     {
                                                                                        new SelectListItem {Text= "checkbox", Value="1", Selected =true},
                                                                                        new SelectListItem {Text= "radio", Value="2" },
                                                                                        new SelectListItem {Text= "color", Value="3" },
                                                                                        new SelectListItem {Text= "date", Value="4" },
                                                                                        new SelectListItem {Text= "email", Value="5" }

                                                                                     }, new { @class = "form-control" })
        </div>
        <div class="mb-3">
            <label>Attribute </label>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                        <th> <button class="btn btn-info btn-sm addRow" type="button"><i class="fas fa-plus"></i></button></th>
                    </tr>
                </thead>
                <tbody id="tbody">

                </tbody>
            </table>
        </div>
    </div>
    
    <button class="btn btn-success" type="submit"> Add</button>

</form>

@section scripts {
    <script type="text/javascript">
        $(document).on("click", ".addRow", function () {
            var row = "<tr> <td> <input type='text'  class='form-control inputName'/> </td> <td> <input type='text'  class='form-control inputValue' /> </td>  <td><button class='btn btn-success btn-sm bttAddAttr' type='button'> <i class='fas fa-check'></i></button></td> </tr>";
            $("#tbody").append(row);            
        });

        $(document).on("click", ".bttAddAttr", function () {
            $self = $(this);
            var name = $self.closest("tr").find(".inputName").val();
            var value = $self.closest("tr").find(".inputValue").val();
            if (!name && !value) {
                alert("Please input data");
                var tr = $self.closest("tr");
                tr.remove();
            }
            else {
                var row = "<tr> <td>" + name + "</td> <td> " + value + " </td>  <td><button class='btn btn-danger btn-sm bttDelAttr' type='button'><i class='fas fa-times'></i></button></td> </tr>";
                var tr = $self.closest("tr");
                tr.remove();
                $("#tbody").append(row);
            }
        });

        $(document).on("click", ".bttDelAttr", function () {
            var tr = $(this).closest("tr");
            tr.remove();
        });

    </script>    
}